body {
	overflow: hidden;
	margin: 0px; 
	padding: 0px;
}

.video {
	object-fit: cover;
	z-index: -99;

	position: fixed;
	top:0%;
	left:0%;
	
	width:100%;
	height:100%;


}

.centerdiv {
	position: absolute;
	display: flex;
	list-style: square;
        align-items: center;
        justify-content: center;
	width:100%;
	height:100%;
	
	background: rgba(0,0,0,0.); color: white;
}

.err404centerdiv {
	background: rgba(255,0,0,0.0); color: hsl(0,100%,60%);
}
